* {
    font-family: sans-serif;
    margin: auto;
}

.navbar {
    background-color: rgba(254, 238, 237, 255);
    padding: 10px;
}

.navbar img {
    width: 13%;
}

.navbar a {
    margin-top: 25px;
    margin-right: 20px;
    text-align: center;
    float: right;
    font-size: 200%;
    font-family: 'Zen Loop', cursive;
    font-weight: bold;
    text-decoration: none;
    color: black;
}

.content {
    background-image: url(https://user-images.githubusercontent.com/85949157/126860491-96119244-6355-4e00-830c-e6e254a4a4ee.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 300px;
}

.container {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background-color: rgba(254, 238, 237, 255);
    position: relative;
    align-items: center;
    padding: 15px;
}

.title {
    text-align: center;
    font-size: 30px;
    padding: 25px;
}